* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header nav ul li {
    display: inline;
}

header {
    background-color: rgb(216, 197, 172);
    text-align: center;
    padding: 10px;
    color: darkblue;
    position: fixed;
    width: 100%;
    top: 0;
}

#content {
    text-align: center;
    margin-top: 100px;
}

#submit-button {
    margin: 10px;
}