* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header nav ul li {
    display: inline;
}

header {
    background-color: rgb(216, 197, 172);
    text-align: center;
    padding: 10px;
    color: darkblue;
}

.center {
    text-align: center;
}