* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
    text-align: right;
}

header {
    background-color: rgb(216, 197, 172);
    padding: 10px;
    text-align: center;
    color: darkblue;
    position: fixed;
    width: 100%;
    top: 0;
}

#contact-form {
    text-align: center;
    margin-top: 100px;
}

#submit-button {
    margin: 10px;
}
